<div class="card bg-light">
  <div class="card-header">
    {{ isNew ? "Add new project" : "Update project" }}
  </div>
  <div class="card-body">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="name"
          name="name"
          required
        >
      </div>
      <button [disabled]="!name" type="submit" class="btn btn-primary">{{ isNew ? "Add new project" : "Update project" }}</button>
      <button *ngIf="name" type="button" class="btn btn-warning" (click)="clearState()">Clear</button>
    </form>
  </div>
</div>
