.btn.btn-default{
  border: none;
  outline: none;
  padding: 2px 8px;
  color: #000;
  background-color: transparent;
}

.btn.btn-default:hover{
  background: rgba(229, 0, 0, 0.78);
  color: #fff;
}
.btn.btn-default.background-primary-hover:hover{
  background: rgba(72, 96, 229, 0.78);
}

